<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "../mybatis-3-mapper.dtd">
 
 <mapper namespace="com.example.lesson04.mapper.StudentMapper">
 	<insert id="insertStduent" parameterType="com.example.lesson04.domain.Student"
 	useGeneratedKeys="true" keyProperty="id">
 		INSERT INTO `new_student`
 		(
			`name`
			,`phoneNumber`
			,`email`
			,`dreamJob`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{name}
 			, #{phoneNumber}
 			, #{email}
 			, #{dreamJob}
 			, NOW()
 			, NOW()
 		)
 	</insert>
 	
 	<select id="selectStudentById">
 	
 	</select>
 </mapper>